.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
}

.header__top {
	background: #000;
}

.header__top-content {
	display: flex;
	flex-wrap: wrap;
	padding: .2rem 0px;
	align-items: center;
	justify-content: space-between;
}

.header__contact li {
	color: #DC5F00;
	font-size: 20px;
}

.header__top-content-item {
	display: flex;
	gap: 2rem;
}

.header__btn {
	display: inline-block;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;

}

.header__btn .btn {
	color: #fff;
	background: #DC5F00;
	border: none;
	border-radius: 8px;
	padding: .5rem;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	transition: .3s ease-in-out;
}

.header__btn .btn .fa {
	margin-left: 3px;
}

.header__btn .btn:hover {
	transform: scale(1.07);
	text-decoration: none;
}

#logout:hover {
	background: #c30202;
}

/*-------------------
  NAVIGATION / #navbar
----------------------*/

.nav {
	height: calc(var(--header-height) + 1rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
	border-radius: 8px;
	padding: 0 2rem;
	background-color: rgb(45, 50, 80, 0.7);
	backdrop-filter: blur(4px);
}

.nav__logo {
	display: flex;
	align-items: center;
}

.nav__toggle {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	content: "";
	vertical-align: middle;
	background: no-repeat 50%;
	background-size: 100% 100%;
	color: #DC5F00;
}

.nav__menu {
	padding: 1rem 0;
	right: -100%;
}

.nav__list {
	display: flex;
	column-gap: 2rem;
	font-family: 'Briem Hand', sans-serif;
	text-transform: uppercase;
}

.nav__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	transition: color 0.3s ease;
}

.nav__link:hover {
	color: #DC5F00;
	text-decoration: none;
}

.nav__link.active {
	color: #DC5F00;
	text-decoration: none;
}

.nav__icon,
.nav__toggle {
	display: none;
}

.scroll-header {
	color: black;
	backdrop-filter: blur(5px);
	border-radius: 0 0 .7rem .7rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 0 0 .75rem .75rem;
	box-shadow: 0 -1px 5px #DC5F00;
	transition: 200ms ease-in-out;
}


@media screen and (max-width: 768px) {
	.header__top {
		padding: .3rem 2rem;
	}

	.header__top-content-item {
		gap: 1rem;
	}

	.nav {
		height: 4rem;
		justify-content: space-between;
		align-items: center;
		backdrop-filter: none;
	}

	.nav__menu {
		top: 6.5rem;
		right: 4%;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.2);
		font-weight: 500;
		padding: 1rem;
		backdrop-filter: blur(5px);
		border: #dc5f0063 solid 1px;
		border-radius: 0.65rem;
		transition: all 500ms ease-in-out;
	}

	.nav__list {
		display: grid;
		grid-template-columns: repeat(1, 100px);
	}

	.nav__icon {
		font-size: 1.2rem;
	}

	.nav__toggle {
		font-size: 1.5rem;
		cursor: pointer;
	}

	.nav__logo {
		font-size: 1.5rem;
	}

	.nav__icon,
	.nav__toggle {
		display: block;
	}
}

@media screen and (max-width: 576px) {
	.header__top {
		padding: .1rem 0px;
	}

	.header__top-content {
		margin: 0;
	}

	.header__contact li {
		font-size: 12px;
	}

	.header__btn .btn {
		padding: 0 .3rem;
		font-size: 10px;
	}

	.nav {
		padding: 0 1rem;
		height: 3rem;
	}

	.header__top-content-item {
		gap: 1rem;
	}

	.appName__img {
		width: 15rem;
	}

	.nav__menu {
		top: 5.5rem;
		right: 4%;
		padding: 0;
	}

	.nav__toggle {
		font-size: 1.3rem;
	}

	.nav__link {
		font-size: .7rem;
	}

	.nav__icon {
		font-size: 1rem;
	}
}

@media screen and (max-width: 390px) {
	.header__contact li {
		font-size: 10px;
	}

	.header__btn .btn {
		font-size: 8px;
	}

	.appName__img {
		width: 13rem;
	}

	.nav__list {
		column-gap: 0;
	}
}

@media screen and (max-width: 325px) {
	.header__contact li {
		font-size: 9px;
	}

	.header__btn .btn {
		font-size: 7px;
	}

	.header__top-content-item {
		gap: .5rem;
	}

	.nav__link,
	.nav__icon {
		font-size: .7rem;
	}

}