.header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-fixed)
}

.header__top {
    background: #000;
    padding: .1rem 0
}

.header__top-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .2rem 0
}

.header__contact li {
    color: #dc5f00;
    font-size: 20px
}

.header__top-content-item {
    display: flex
}

.header__top-content-item:nth-child(2) {
    gap: 2rem
}

.header__btn {
    align-items: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    vertical-align: middle
}

.header__btn .btn {
    background: #dc5f00;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: .5rem;
    text-transform: uppercase;
    transition: .3s ease-in-out
}

.header__btn .btn i,
.header__btn .btn__small i {
    margin-right: 5px
}

.header__btn .btn:hover {
    text-decoration: none;
    transform: scale(1.07)
}

#logout:hover {
    background: #c30202
}

.nav {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #2d3250b3;
    border-radius: 8px;
    column-gap: 1rem;
    height: calc(var(--header-height) + 1.5rem);
    justify-content: space-between;
    padding: 0 2rem
}

.nav,
.nav__logo {
    align-items: center;
    display: flex
}

.nav__toggle {
    background: no-repeat 50%;
    background-size: 100% 100%;
    color: #dc5f00;
    content: "";
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    width: 1.5em
}

.nav__menu {
    padding: 1rem 0
}

.nav__list {
    column-gap: 2rem;
    font-family: Briem Hand, sans-serif
}

.nav__link,
.nav__list {
    display: flex;
    text-transform: uppercase
}

.nav__link {
    align-items: center;
    color: #fff;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    padding-block: 20px;
    padding-inline: 20px !important;
    transition: color .3s ease
}

.nav__link.active,
.nav__link:hover {
    color: #dc5f00;
    text-decoration: none
}

.nav__close,
.nav__icon,
.nav__toggle {
    display: none
}

.scroll-header {
    border-bottom: 3px solid #dc5f00;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: .3s ease-in-out
}

@media screen and (max-width:768px) {
    .header__top {
        padding: .3rem 2rem
    }

    .header__top-content-item:nth-child(2) {
        gap: 1rem
    }

    .nav {
        align-items: center;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        height: 3rem;
        justify-content: space-between
    }

    .nav__menu {
        -webkit-backdrop-filter: blur(2.8px);
        backdrop-filter: blur(2.8px);
        background-color: #000000b3;
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow: 0 -1px 6px #dc5f0080;
        left: 0;
        padding: 2rem 1rem 1rem;
        position: fixed;
        top: -50%;
        transition: .5s ease-in-out;
        width: 100%
    }

    .show_menu {
        top: 0
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .nav__icon {
        font-size: 1.2rem
    }

    .nav__close {
        color: #fff;
        cursor: pointer;
        font-size: 1.5rem;
        position: absolute;
        right: 1.3rem;
        top: .5rem
    }

    .nav__close:hover {
        color: #dc5f00
    }

    .nav__toggle {
        cursor: pointer
    }

    .nav__logo,
    .nav__toggle {
        font-size: 1.5rem
    }

    .nav__close,
    .nav__icon,
    .nav__toggle {
        display: block
    }
}

@media screen and (max-width:576px) {
    .header__top {
        padding: .1rem 0
    }

    .header__top-content {
        margin: 0
    }

    .header__contact li {
        font-size: 12px
    }

    .header__btn .btn {
        font-size: 10px;
        padding: 0 .3rem
    }

    .nav {
        height: 3rem;
        padding: 0 1rem
    }

    .header__top-content-item:nth-child(2) {
        gap: 1rem
    }

    .appName__img {
        width: 15rem
    }

    .nav__toggle {
        font-size: 1.3rem
    }

    .nav__link {
        font-size: .9rem
    }

    .nav__menu {
        padding: 1rem 1rem 0
    }

    .nav__close,
    .nav__icon {
        font-size: 1rem
    }
}

@media screen and (max-width:390px) {
    .header__contact li {
        font-size: 10px
    }

    .header__btn .btn {
        font-size: 8px
    }

    .appName__img {
        width: 13rem
    }

    .nav__list {
        column-gap: 0
    }
}

@media screen and (max-width:325px) {
    .header__contact li {
        font-size: 9px
    }

    .header__btn .btn {
        font-size: 7px
    }

    .header__top-content-item:nth-child(2) {
        gap: .5rem
    }

    .nav__icon,
    .nav__link {
        font-size: .7rem
    }

    .nav__list {
        column-gap: 0
    }
}

.tooltip-container {
    cursor: pointer;
    display: inline-block;
    position: relative
}

.tooltip {
    background-color: #333;
    border-radius: 4px;
    bottom: 100%;
    color: #fff;
    left: 50%;
    opacity: 0;
    padding: 8px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    transition: opacity .3s;
    white-space: nowrap;
    z-index: 10
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    pointer-events: auto
}

.alert {
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px
}

.alert.success {
    background-color: #4caf50
}

.alert.error {
    background-color: #f44336
}

.alert.warning {
    background-color: #ff9800
}

.alert.info {
    background-color: #2196f3
}

.closebtn {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 0
}

.armstrong__section {
    margin-top: -143px;
    padding-bottom: 20px;
    position: relative
}

.armstrong__container {
    grid-column-gap: 25rem;
    column-gap: 25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.armstrong__form {
    width: 50px
}

.armstrong__form .form__input {
    background: #eee;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-family: Sour Gummy, sans-serif;
    height: 55px;
    padding: 10px 20px;
    transition: .3s ease-in-out
}

.armstrong__form .form__input:hover {
    border: 2px solid #dc5f00
}

.armstrong__form .form__input:focus {
    border: 2px solid #dc5f00;
    outline: none
}

.armstrong__content {
    grid-column-gap: 2rem;
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative
}

.armstrong__container .form__group>label {
    color: #dc5f00
}

.armstrong__content-item:nth-child(3) {
    grid-column: 1/3
}

.clear__input-container {
    margin-top: .5rem;
    text-align: right
}

.clear__allInputs-container {
    margin-left: .5rem;
    margin-top: .5rem;
    text-align: left
}

.find_armstg_num__container {
    margin-top: .5rem;
    text-align: right
}

#find_armstrong_num,
#find_armstrong_nums {
    background: #dc5f00;
    border: none;
    box-shadow: 0 3px 8px 0 #000000b3;
    color: #fff
}

#find_armstrong_num:hover,
#find_armstrong_nums:hover {
    background: #f26c07;
    transform: scale(1.05)
}

.btn__clear {
    border: none;
    box-shadow: 0 3px 8px 0 #000000b3;
    padding: 0
}

.btn__clear:hover {
    transform: scale(1.05)
}

.btn__container {
    display: flex;
    justify-content: space-around
}

.about__section-title {
    margin-bottom: 30px
}

.about__section-content {
    align-items: center;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 2rem
}

.about__section-content-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.about__img {
    animation: img__animate 2s ease-in-out infinite;
    background: url(/static/media/female-teacher.96253b9cdc96eb8b3c29.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0 0 0 9px #dc6b1980;
    height: 400px;
    transition: .4s ease-in-out;
    width: 400px
}

@keyframes img__animate {
    0% {
        border-radius: 50% 50% 40% 60%/50% 60% 40% 50%
    }

    25% {
        border-radius: 70% 30% 50% 50%/40% 70% 50% 60%
    }

    50% {
        border-radius: 30% 70% 60% 40%/60% 50% 40% 70%
    }

    75% {
        border-radius: 50% 60% 30% 70%/70% 50% 30% 60%
    }

    to {
        border-radius: 50% 50% 40% 60%/50% 60% 40% 50%
    }
}

@media screen and (max-width:1030px) {
    .armstrong__container {
        padding: 0 3rem
    }
}

@media screen and (max-width:768px) {
    .armstrong__container {
        grid-template-columns: 1fr;
        row-gap: 5rem
    }

    .armstrong__form,
    .armstrong__form .form__input {
        width: 100%
    }

    #find_armstrong_nums {
        margin-left: 10rem
    }

    .about__img {
        height: 300px;
        width: 300px
    }

    .about__section-content-item p {
        font-size: 1rem
    }
}

@media screen and (max-width:576px) {
    .armstrong__section {
        margin-top: -12rem
    }

    .armstrong__container {
        row-gap: 8rem
    }

    .armstrong__content {
        grid-template-columns: 1fr
    }

    .about__section-content {
        grid-template-columns: .5fr 3fr
    }

    .armstrong__content-item:nth-child(2) {
        justify-items: center;
        order: 1
    }

    .armstrong__content-item:nth-child(3) {
        left: 0;
        position: absolute;
        top: 22rem
    }

    .armstrong__content-item:nth-child(3) .clear__allInputs-container {
        width: 13rem
    }

    .armstrong__content-item:nth-child(3) #find_armstrong_nums {
        margin-left: 2rem
    }

    .about__img {
        justify-self: auto;
        order: 0
    }

    .about__section-content-item:nth-child(2) {
        grid-column: 1/3
    }

    .about__section-content-item:nth-child(2) p {
        font-size: 1rem
    }

    .about__section-content {
        padding: 1rem 3rem
    }
}

@media screen and (max-width:390px) {
    .armstrong__container {
        padding: 0 1.9rem
    }

    .armstrong__content-item:nth-child(3) .clear__allInputs-container {
        width: 10rem
    }

    .armstrong__content-item:nth-child(3) #find_armstrong_nums {
        margin-left: 2rem
    }
}

@media screen and (max-width:325px) {
    .armstrong__container {
        padding: 0 1rem
    }

    .about__section-content {
        padding: 1rem 2rem
    }

    .about__img {
        height: 200px;
        width: 250px
    }

    .about__section-content-item:nth-child(2) p {
        font-size: .9rem
    }
}

.contact__info-content {
    display: flex;
    justify-content: center
}

.contact__info-content-item {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%
}

.contact__item {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    margin-right: 30px;
    padding-bottom: 20px
}

.contact__item p {
    color: #ff1949;
    margin-bottom: 10px
}

.contact__heading {
    margin-bottom: 40px;
    padding-top: 100px;
    text-align: center
}

.contact__form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start
}

.contact__form-container .form__group>label {
    color: #d36b00
}

.contact__form-container .form__input {
    background: #eee;
    border: 2px solid #eee;
    border-radius: 46px;
    font-family: Sour Gummy, sans-serif;
    height: 55px;
    padding-left: 20px;
    width: 100%
}

.contact__form-container .form__input:hover {
    border: 2px solid #d36b00
}

.contact__form-container .form__input:focus {
    border: 2px solid #dc5f00;
    outline: none
}

.contact__form-container textarea.form__input {
    border-radius: 15px;
    height: auto;
    padding-top: 15px
}

.contact__form-container label {
    color: #385777;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}

.contact__form>.contact__form-content {
    margin-left: 55%
}

.submit__btn {
    background: #0077b5;
    border: none;
    box-shadow: 0 3px 8px 0 #000000b3;
    color: #fff
}

@media screen and (max-width:576px) {
    .contact__info-content {
        flex-direction: column
    }
}

.footer {
    background: #100f1f;
    border-top: 1.5px solid #dc5f004d;
    color: #fffc;
    padding: 2rem;
    width: 100%
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem
}

.footer__widget {
    float: left;
    width: 40%
}

.footer__contact {
    float: right;
    width: 15%
}

.footer__widget-title {
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px
}

.footer__widget p {
    color: #fffc
}

.footer__contact ul {
    list-style: none
}

.footer__contact ul li i {
    color: #d36b00;
    float: left;
    margin-top: 4px;
    min-width: 30px
}

.footer__contact ul li div {
    font-size: 14px;
    overflow: hidden
}

.footer__contact ul li div strong {
    display: block;
    font-size: 16px;
    text-transform: capitalize
}

.footer__links li {
    padding: 5px 0
}

.footer__btm {
    border-top: 1px solid #ffffff1a;
    margin-top: 30px;
    padding: .8rem 0
}

.footer__btm-content {
    justify-content: space-between;
    padding: 0 3rem
}

.footer__btm-content,
.footer__logo {
    align-items: center;
    display: flex
}

.footer__copy p {
    color: #fffc;
    margin-bottom: 0
}

.xeroDev {
    animation: shimmer 8s linear infinite;
    background: linear-gradient(90deg, cyan 0, #03090a 50%, cyan);
    -webkit-background-clip: text;
    background-clip: text;
    color: #0000;
    font-family: Josefin Sans, sans-serif
}

@keyframes shimmer {
    0% {
        background-position: -200px 0
    }

    to {
        background-position: 200px 0
    }
}

.xeroDev:hover {
    color: cyan !important;
    text-decoration: underline
}

@media screen and (max-width:1030px) {
    .footer__widget:nth-child(2) {
        width: 25%
    }

    .appName__img {
        width: 20rem
    }

    .footer__copy {
        font-size: 1rem
    }
}

@media screen and (max-width:768px) {
    .footer__container {
        padding: 0 2rem
    }

    .footer__widget {
        width: 50%
    }

    .footer__widget:nth-child(2) {
        width: 30%
    }

    .footer__btm-content {
        padding: 0 1rem
    }

    .appName__img {
        width: 18rem
    }

    .footer__copy {
        font-size: .8rem
    }
}

@media screen and (max-width:576px) {
    .footer {
        padding: 1.3rem
    }

    .footer__btm-content,
    .footer__container {
        display: grid;
        padding: 0
    }

    .footer__btm-content-item,
    .footer__widget {
        justify-items: legacy;
        order: 0;
        width: 100%
    }

    .footer__contact ul,
    .footer__section-description {
        margin-block: 1rem
    }

    .footer__btm-content-item:nth-child(2),
    .footer__widget:nth-child(2) {
        grid-column: 1/3;
        width: 100%
    }

    .footer__widget-title {
        font-size: 18px;
        margin-bottom: 0
    }

    .footer__widget p {
        font-size: 15px
    }

    .footer__contact ul li div a,
    .footer__contact ul li div strong {
        font-size: 14px
    }
}

@media screen and (max-width:390px) {
    .footer__copy {
        font-size: .7rem
    }
}

@media screen and (max-width:325px) {
    .appName__img {
        width: 15rem
    }

    .footer__copy {
        font-size: .6rem
    }

    .footer__widget-title {
        font-size: 15px;
        margin-bottom: 0
    }

    .footer__contact ul li div a,
    .footer__contact ul li div strong,
    .footer__widget p {
        font-size: 13px
    }
}

.scrollup {
    background-color: #0077b5;
    border-radius: .4rem;
    bottom: -20%;
    display: flex;
    height: 40px;
    justify-content: center;
    opacity: .9;
    padding: .5rem;
    position: fixed;
    right: 2.5rem;
    transition: .4s ease-in-out;
    width: 40px;
    z-index: 10
}

.scrollup__icon {
    color: #fff;
    font-size: 1.5rem
}

.scrollup:hover {
    background-color: #dc5f00;
    text-decoration: none
}

.show-scroll {
    bottom: 4rem
}

:root {
    --header-height: 3rem;
    --z-fixed: 999;
    --at-success: #2b3;
    --at-success-text-emphasis: #28a745;
    --at-success-rgb: 34, 187, 51;
    --at-danger: #871515;
    --at-danger-hover: #d91d1d;
    --at-danger-text-emphasis: #bb3939;
    --at-danger-rgb: 208, 63, 63
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth
}

::-webkit-scrollbar {
    background: #000;
    width: 13px
}

::-webkit-scrollbar-thumb {
    background: #4d4a4a;
    border-radius: 5px
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(238, 122, 122, 0);
    font-family: sans-serif;
    line-height: 1.15
}

body {
    background-color: #2d3250;
    color: #2b2a2a;
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    overflow-x: hidden;
    text-align: left
}

body,
p {
    font-size: 19px
}

p {
    color: #f7f7f7;
    font-family: Ubuntu, sans-serif;
    line-height: 28px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #d36b00;
    font-family: Poetsen One, sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 0
}

.h1,
h1 {
    font-size: 46px
}

.h2,
h2 {
    font-size: 32px
}

.h3,
h3 {
    font-size: 28px
}

.h4,
h4 {
    font-size: 22px
}

.h5,
h5 {
    font-size: 18px
}

.h6,
h6 {
    font-size: 16px
}

.text-sm {
    font-size: 14px
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #0077b5
}

.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #01a6ff
}

a {
    color: #0077b5;
    text-decoration: none;
    transition: all .3s ease-in-out
}

a,
a:hover {
    outline: none
}

a:hover {
    color: #01a6ff;
    text-decoration: underline
}

a:focus {
    text-decoration: none
}

a:focus,
a:visited {
    outline: none
}

ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0
}

.btn {
    border-radius: 5px;
    cursor: pointer;
    font-family: Josefin Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 1.25rem 2rem;
    position: relative;
    text-transform: capitalize;
    transform: translateY(0);
    transition: all .2s ease-in-out
}

.btn:focus {
    box-shadow: 0 3px 8px 0 #000000b3 !important
}

.btn-main {
    background: #0077b5;
    border-color: #0077b5;
    color: #fff
}

.btn-main:hover {
    background: #245a78;
    border-color: #245a78
}

.btn__small {
    cursor: pointer;
    padding: 1rem
}

.btn__success {
    background-color: #2b3;
    background-color: var(--at-success)
}

.btn__danger {
    background-color: #871515;
    background-color: var(--at-danger)
}

.btn__danger:hover {
    background-color: #d91d1d;
    background-color: var(--at-danger-hover)
}

.alert {
    --at-alert-bg: #0000;
    --at-alert-padding-x: 1.25rem;
    --at-alert-padding-y: 0.8rem;
    --at-alert-margin-bottom: 1rem;
    --at-alert-color: inherit;
    --at-alert-border-color: #0000;
    --at-alert-border: var(--at-border-width) solid var(--at-alert-border-color);
    --at-alert-border-radius: 0.375rem;
    --at-alert-link-color: inherit;
    background-color: var(--at-alert-bg);
    border: var(--at-alert-border);
    border-radius: var(--at-alert-border-radius);
    color: var(--at-alert-color);
    margin-bottom: var(--at-alert-margin-bottom);
    padding: var(--at-alert-padding-y) var(--at-alert-padding-x);
    position: relative
}

.alert-heading {
    color: inherit
}

.alert-link {
    color: var(--at-alert-link-color);
    font-weight: 700
}

.alert-dismissible {
    padding-right: 3.75rem
}

.alert-dismissible .btn-close {
    padding: 1rem 1.25rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2
}

.alert-success {
    --at-alert-color: var(--at-success-text-emphasis);
    --at-alert-bg: var(--at-success-bg-subtle);
    --at-alert-border-color: var(--at-success-border-subtle);
    --at-alert-link-color: var(--at-success-text-emphasis)
}

.alert-warning {
    --at-alert-color: var(--at-warning-text-emphasis);
    --at-alert-bg: var(--at-warning-bg-subtle);
    --at-alert-border-color: var(--at-warning-border-subtle);
    --at-alert-link-color: var(--at-warning-text-emphasis)
}

.alert-danger {
    --at-alert-color: var(--at-danger-text-emphasis);
    --at-alert-bg: var(--at-danger-bg-subtle);
    --at-alert-border-color: var(--at-danger-border-subtle);
    --at-alert-link-color: var(--at-danger-text-emphasis)
}

.text-bg-success {
    background-color: #33990080 !important
}

.text-bg-success,
.text-bg-warning {
    -webkit-backdrop-filter: blur(2px) !important;
    backdrop-filter: blur(2px) !important;
    color: #fff !important
}

.text-bg-warning {
    background-color: #ffcc0080 !important
}

.text-bg-danger {
    -webkit-backdrop-filter: blur(2px) !important;
    backdrop-filter: blur(2px) !important;
    background-color: #cc330080 !important;
    color: #fff !important
}

.fade {
    transition: opacity .15s linear
}

@media (prefers-reduced-motion:reduce) {
    .fade {
        transition: none
    }
}

.fade:not(.show) {
    opacity: 0
}

.d-none {
    display: none !important
}

.btn-close {
    --at-btn-close-color: #8391a2;
    --at-btn-close-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var(--at-secondary-color)'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E");
    --at-btn-close-opacity: 0.5;
    --at-btn-close-hover-opacity: 0.8;
    --at-btn-close-focus-shadow: none;
    --at-btn-close-focus-opacity: 1;
    --at-btn-close-disabled-opacity: 0.25;
    --at-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    background: #0000 var(--at-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    box-sizing: initial;
    height: 1em;
    opacity: var(--at-btn-close-opacity);
    padding: .25em;
    width: 1em
}

.btn-close,
.btn-close:hover {
    color: var(--at-btn-close-color)
}

.btn-close:hover {
    opacity: var(--at-btn-close-hover-opacity);
    text-decoration: none
}

.btn-close:focus {
    box-shadow: var(--at-btn-close-focus-shadow);
    opacity: var(--at-btn-close-focus-opacity);
    outline: 0
}

.btn-close.disabled,
.btn-close:disabled {
    opacity: var(--at-btn-close-disabled-opacity);
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none
}

.btn-close-white,
[data-bs-theme=dark] .btn-close {
    filter: var(--at-btn-close-white-filter)
}

.form__input {
    transition: all .3s ease-in-out
}

.form__group {
    margin-bottom: 25px
}

.form-control:focus {
    box-shadow: none
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: -5px;
    margin-right: -5px
}

.img-fluid {
    height: 100%;
    max-width: 100%
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 968px;
    padding: 0 1rem
}

.grid {
    grid-gap: 1.5rem;
    display: grid;
    gap: 1.5rem
}

.section__heading {
    margin-bottom: 2rem
}

.section__padding {
    padding: 50px 0
}

.section {
    padding: 6rem 4rem 2rem;
    width: 100%
}

.page__header {
    background: #f4fdff;
    background: url(/static/media/contact_banner.8debcde51c27a37cd1bb.jpg) no-repeat;
    background-position: 0 30%;
    background-size: cover;
    font-family: Poetsen One, sans-serif;
    padding: 10rem 0 5rem;
    position: relative;
    text-align: center
}

.page__header,
.page__header:before {
    border-bottom: 1px solid #dc5f00;
    border-radius: 8px
}

.page__header:before {
    background: #000c;
    content: "";
    height: 100%;
    left: 0;
    opacity: .9;
    position: absolute;
    top: 0;
    width: 100%
}

.page__header .page__header-content h1 {
    color: #fff;
    font-size: 60px;
    opacity: .8;
    text-transform: capitalize
}

.page__header .page__header-content ul {
    margin-bottom: 0
}

.page__header .page__header-content ul li {
    color: #fff;
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 35px;
    opacity: .8;
    padding-right: 1rem;
    text-transform: uppercase
}

.page__header .page__header-content ul li a {
    color: #fff;
    opacity: .8
}

.bg-grey {
    background: #f7f5f4
}

.center__heading {
    text-align: Center
}

.center__heading .subheading {
    color: #ff1949;
    padding-left: 0
}

.center__heading .subheading:before {
    display: none
}

.center__heading h3 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative
}

.center__heading h3:before {
    background: #ff1949;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40px
}

.banner {
    background: url(/static/media/banner.e0f94b346762eb42fbee.jpg) 50% no-repeat;
    background-size: cover;
    padding-bottom: 180px;
    padding-top: 100px;
    position: relative;
    transition: .3s ease-in-out
}

.banner,
.banner:before {
    border-radius: 8px;
    left: 0
}

.banner:before {
    background: #000000b3;
    content: "";
    height: 100%;
    opacity: .9;
    position: absolute;
    top: 0;
    width: 100%
}

.banner__content {
    box-sizing: border-box
}

.banner .banner__content h1 {
    color: #fff;
    font-size: 56px;
    letter-spacing: -1.3px;
    line-height: 65px;
    margin: 30px 0 50px;
    opacity: .8
}

.banner .banner__content p {
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 35px;
    opacity: .8
}

#breadcrumps {
    color: #0077b5;
    opacity: 1
}

#breadcrumps:hover {
    border-bottom: 3px solid #01a6ff;
    color: #01a6ff;
    text-decoration: none;
    transition: .09s ease-in-out
}

.banner .banner__content .subheading {
    color: #fff;
    margin-bottom: 0
}

.subheading {
    color: #ff1949;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 50px;
    position: relative;
    text-transform: uppercase
}

.subheading:before {
    background: #0077b5;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 40px
}

@media screen and (max-width:992px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5)
    }
}

@media screen and (max-width:768px) {
    .banner .banner__content h1 {
        font-size: 36px
    }

    .banner .banner__content p {
        font-size: 16px
    }

    .page__header .page__header-content h1,
    .page__header .page__header-content ul li {
        font-size: 2rem
    }
}

@media screen and (max-width:542px) {
    .banner .banner__content h1 {
        line-height: 45px
    }

    .page__header .page__header-content h1,
    .page__header .page__header-content ul li {
        font-size: 1.7rem
    }

    .page__header .page__header-content ul li {
        margin-bottom: 1rem
    }

    .page__header {
        padding: 7rem 0 3rem
    }
}

@media screen and (max-width:390px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1)
    }

    .btn i {
        margin-right: 3px
    }
}

@media screen and (max-width:325px) {
    .banner .banner__content h1 {
        line-height: 40px
    }

    .btn {
        padding: 1rem
    }

    .page__header .page__header-content h1,
    .page__header .page__header-content ul li {
        font-size: 1.5rem
    }

    .page__header .page__header-content ul li {
        margin-bottom: .7rem
    }
}

/*# sourceMappingURL=main.d49a8f8d.css.map*/